annotated-types
ansi2html==1.9.2
asttokens
blinker==1.9.0
blis==0.7.11
Brotli 
catalogue
certifi
charset-normalizer
click
cloudpathlib 
cloudpickle 
colorama
comm
confection
contourpy
cycler
cymem
dash==2.17.1
dash-core-components==2.0.0
dash-cytoscape==0.3.0
dash-html-components==2.0.0
dash-table==5.0.0
itsdangerous==2.2.0
jupyter-dash==0.4.2
matplotlib==3.10.7
munkres==1.1.4
numpy==1.26.4
pandas==2.2.2
plotly==5.23.0
pytz==2025.2
retrying==1.4.2
spacy==3.7.5
tenacity==9.1.2
thinc==8.2.5
typer==0.20.0
typer-slim==0.20.0
tzdata==2025.2
Werkzeug==3.0.6
zstandard==0.25.0
